:root {
  --mov-color: rgb(132, 56, 142);
  --grey-color: rgb(218, 218, 218);
  --sky-color: rgb(230, 237, 250);
  --blue-color: rgb(108, 112, 184);
  --darkblue-color: rgb(54, 56, 94);

  --skydark: rgb(230, 237, 250);
  --darkbluedark: rgb(54, 56, 94);

  --bluebur: #20264dd2;

  --hover: rgba(54, 56, 94, 0.404);

  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;

  --gradient1: #5584ac;
  --gradient2: #7fc7d9;
}

.dark {
  --sky-color: rgb(54, 56, 94);
  --darkblue-color: rgb(230, 237, 250);
  --hover: rgba(230, 237, 250, 0.5);

  --gradient2: #5584ac;
  --gradient1: #7fc7d9;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--darkblue-color);
  color: var(--sky-color);
  padding: 20px 0;
  text-align: center;
}

.data {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.content {
  margin-left: 30px;
}

.info {
  display: flex;
  align-items: center;
  color: var(--darkblue-color);
}

.admin-info {
  text-align: center;
  margin-bottom: 20px;
}

.admin-info img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.admin-tasks {
  text-align: center;
  margin-top: 20px;
}

.admin-tasks ul {
  list-style-type: none;
  padding: 0;
}

.admin-tasks ul li {
  display: inline;
  margin: 0 10px;
}

.admin-tasks ul li a {
  text-decoration: none;
  color: #4caf50;
  transition: color 0.3s ease;
}


.icon {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  position: relative;
}

.icon img {
  width: 30px;
  cursor: pointer;
}

.icon img:nth-child(1) {
  width: 20px;
  position: absolute;
  left: 10px;
}

.icon input {
  border: none;
  width: 250px;
  padding: 10px 33px;
  
  margin-right: 20px;
  margin-bottom: 20px;
}

.icon input:focus {
  outline: none;
}

.content .icon {
  display: none;
}

.moon,
.icon button {
  margin-top: -10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: var(--darkblue-color);
  color: var(--sky-color);
}

tr {
  cursor: pointer;
  color: var(--darkblue-color);
  transition: 0.2s;
}

tr:hover {
  background-color: var(--hover);
}

.col {
  font-weight: bold;
}

button {
  border: none;
  background-color: var(--darkblue-color);
  color: var(--sky-color);
  padding: 10px;
  
  position: relative;
  transition: 0.3s;
  z-index: 3;
}


button:hover::before {
  width: 100%;
}


@media (max-width: 768px) {
  .icon {
    display: none;
  }
  .content .icon {
    display: flex;
  }
  .profile p {
    font-size: 16px;
  }
  table {
    margin-top: 40px;
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  margin: 300px 50%;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, var(--sky-color) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

.hidden {
  opacity: 0;
  transition: 1s;
}

.appear {
  background-color: var(--sky-color);
  opacity: 1;
}

.icon button {
  margin-right: 15px;
  background-color: var(--darkblue-color);
  color: var(--sky-color);
  border: none;
  
  padding: 10px;
  position: relative;
  z-index: 2;
}

.icon button:hover::before {
  width: 100%;
}

